name: Assignment 4 Testing

on: workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      # Install Node, install and build the frontend, then run Cypress tests
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      # Caching
      - name: Cache NPM
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      # End Caching
      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      # Run Cypress tests (the action will install and run Cypress)
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          start: npm start
          working-directory: tests
          browser: chrome
